<h2> Our team </h2>

<div style="float:left" >
  <img src='/images/profile/Nophoto.png' class="img-rounded-mid"/>
</div>
<h3> Sergey Astretsov </h3>
<p> Idea generator </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left" >
  <img src='/images/profile/Nophoto.png' class="img-rounded-mid"/>
</div>
<h3> Fangming Lu </h3>
<p> Rockstar designer </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left" >
  <img src='/images/profile/Nophoto.png' class="img-rounded-mid"/>
</div>
<h3> Arpita Shrivastava </h3>
<p> "Let's just do it!" </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left" >
  <img src='/images/profile/Nophoto.png' class="img-rounded-mid"/>
</div>
<h3> Siddharth Subramanian </h3>
<p> Big planner </p>
<div style="clear:both"></div>

