        <div id="content">
          <h1>Contact us</h1>
          <p>Full content of the website is available for registered users only. Right now the registration is limited due to the testing of the platform.</p> 
          <p>Please <a href="mailto:sergey@mongori.com">contact us</a> and we will invite you to the platform as soon as the testing is completed.</p>
          <a href = "javascript:history.back()">Go back</a>
        </div>
 